div.file(id= file._id)
  h2.filename
    a(href= '/file/'+file._id)= file.name
  a.try(href= '/try/file/'+file.sids.join('+'))= 'try code'
  footer
    div.like
      a(href= '/like')= 'Like'
      span= file.like ? file.like : 0
    div.author
      span= 'created by '
      a(href= '/user/' + (file.author ? file.author.name : 'nobody'))= file.author ? file.author.name :  'nobody'
    span= ' at '
    - dt = new Date(file.updated || file.created);
    time.created(datetime= dt.getTime())= [dt.getFullYear(), dt.getMonth() + 1, dt.getDate()].join('/') + ' ' + [dt.getHours(), dt.getMinutes(), dt.getSeconds()].join(':')
    div.supports
      ul
  - if(file.desc)
    div.desc
      h3= 'description'
      p= file.desc
  div.detail
    h3= 'this file includes'
    div.snippets
      - snippets.forEach(function(snippet){
        div(id= snippet._id)
          a(href= '/snippet/'+snippet._id)= snippet.tag + '.' + snippet.author.name + '-' + snippet.cls
      - })
  nav
    ul
      a.download(href= '/file/download/'+file._id)= 'download'
