div#wrapper
  div#content
    div#snippetList
  div#side
    div#cabinet
      h2= 'Cabinet'
      div#tray
        form(method= 'POST', action= '/cabinet')
          h3
            input(placeholder= 'Selected Snippets', name= 'filename')
          div#selectedSnippets
          footer
            div.supports
              ul
          nav
            a.tryFile(href= '/try/file/')= 'try file'
            input.saveFile(type= 'submit', value= 'save')
      - if(session)
        div#myfiles
          h3= 'My File'
          ul
          


