!!!
html
  head
    title= title
    link(rel='stylesheet', href= '/css/style.css')
    link(rel='stylesheet', href= '/js/fancybox/jquery.fancybox-1.3.4.css')
  body
    header
      h1
        a(href= '/')= title
      p= description
    div#account
      - if(!session)
        a#oauth.login.button(href= '/auth/login')= 'Login via Twitter'
      - else
        a.button(href= '/snippet/new')= 'CREATE NEW SNIPPET'
        a#oauth.logout(href= '/auth/logout')= 'Logout'
    div!= body
    script(type= 'text/javascript', charset= 'utf8', src= '/js/jquery-1.6.2.min.js')
    script(type= 'text/javascript', charset= 'utf8', src= '/js/jquery.beautyOfCode-min.js')
    script(type= 'text/javascript', charset= 'utf8', src= '/js/fancybox/jquery.fancybox-1.3.4.me.js')
    //script(type= 'text/javascript', charset= 'utf8', src= '/js/fancybox/jquery.fancybox-1.3.4.pack.js')
    script(type= 'text/javascript', charset= 'utf8', src= '/js/fancybox/jquery.easing-1.3.pack.js')
    script(type= 'text/javascript', charset= 'utf8', src= '/js/fancybox/jquery.mousewheel-3.0.4.pack.js')
    script(type= 'text/javascript', charset= 'utf8', src= '/js/main.js')