div.snippet(id= snippet._id)
  input.useSnippet(type= 'checkbox', name= 'useSnippet')
  h2.spec
    a(href= '/tag/'+snippet.tag)= snippet.tag
    span= '.'
    span= snippet.author.name + '-' + snippet.cls
  - if(snippet.parent)
    h3.parent
      span= 'Fork from '
      a(href= '/snippet/'+snippet.parent)= 'This'
  a.try(href= '/try/'+snippet._id)= 'try code'
  footer
    ul.tags
      - if(snippet.tags)
        - snippet.tags.forEach(function(tag){
          li
            a(href= '/category/'+tag)= tag 
        - })
    div.like
      a(href= '/like')= 'Like'
      span= snippet.like
    div.author
      span= 'created by '
      a(href= '/user/' + (snippet.author ? snippet.author.name : 'nobody'))= snippet.author ? snippet.author.name :  'nobody'
    span= ' at '
    - dt = new Date(snippet.updated || snippet.created);
    time.created(datetime= dt.getTime())= [dt.getFullYear(), dt.getMonth() + 1, dt.getDate()].join('/') + ' ' + [dt.getHours(), dt.getMinutes(), dt.getSeconds()].join(':')
    div.supports
      ul
  - if(snippet.desc)
    div.desc
      h3= 'description'
      p= snippet.desc
  nav
    a.toggle= 'Open'
    - if(session)
      a.fork(href= '/snippet/fork/'+snippet._id)= 'Fork'
    - if(session && snippet.author.name === session.name)
      a.edit(href= '/snippet/edit/'+snippet._id)= 'Edit'
      a.delete(href= '/snippet/delete/'+snippet._id)= 'Delete'
  div.detail
  script(type= 'text/javascript', charset= 'utf8')
    (function(){
      var init = function(){
        $('#!{snippet._id} a.try').fancybox({width: '75%', height: '75%', autoScale: false, type: 'iframe', transitionIn: 'none', transitionOut: 'none'});
        $('#!{snippet._id} div.like a').click($.like);
        $('#!{snippet._id} a.toggle').click(function(){
          var self = this;
          if($('#!{snippet._id} div.detail').html() !== ''){
            if($(self).text() === 'Open'){
              $(self).text('Close');
            }else{
              $(self).text('Open');
            }
            $('#!{snippet._id} div.detail').toggle();
            return false;
          }
          $.get('/snippet/detail/!{snippet._id}?json=1', function(res){
            $('#!{snippet._id} div.detail').html(res);
            $(self).text('Close');
          })
        });
        $.getSupportInfo('!{snippet._id}');
        $.getLike('!{snippet._id}');
        $('#!{snippet._id} input.useSnippet').change(function(){
          if($(this).attr('checked') === 'checked'){
            $.addSnippetToFiles( '!{snippet._id}' );
          }else{
            $.removeSnippetToFiles( '!{snippet._id}' );
          }
        });
      };
      if(typeof $ === 'function'){
        init();
      }else{
        var timer = setInterval(function(){
          if(typeof $ === 'function'){
            clearInterval(timer);
            init();
          }
        }, 100);
      }
    }())
