div.snippet(id= snippet._id)
  - if(session)
    input.useSnippet(type= 'checkbox', name= 'useSnippet')
  h2.spec
    a(href= '/tag/'+snippet.tag)= snippet.tag
    span= '.'
    span= snippet.author.name + '-' + snippet.cls
  - if(snippet.parent)
    h3.parent
      span= 'Fork from '
      a(href= '/snippet/'+snippet.parent)= 'This'
  a.try(href= '/try/'+snippet._id)= 'try code'
  footer
    ul.tags
      - if(snippet.tags)
        - snippet.tags.forEach(function(tag){
          li
            a(href= '/category/'+tag)= tag 
        - })
    div.like
      a(href= '/like')= 'Like'
      span= snippet.like
    div.author
      span= 'created by '
      a(href= '/user/' + (snippet.author ? snippet.author.name : 'nobody'))= snippet.author ? snippet.author.name :  'nobody'
    span= ' at '
    - dt = new Date(snippet.updated || snippet.created);
    time.created(datetime= dt.getTime())= [dt.getFullYear(), dt.getMonth() + 1, dt.getDate()].join('/') + ' ' + [dt.getHours(), dt.getMinutes(), dt.getSeconds()].join(':')
    div.supports
      ul
