- js = snippet.js ? snippet.js.replace(/CLASS/g, function(){return snippet.author.name + '-' + snippet.cls}) : ''
- html = snippet.html ? snippet.html.replace(/CLASS/g, function(){return snippet.author.name + '-' + snippet.cls}) : ''
- css = snippet.css ? snippet.css.replace(/CLASS/g, function(){return snippet.author.name + '-' + snippet.cls}) : ''
html
  head
    meta(charset= 'utf-8')
    title= snippet.tag + '.' + snippet.author.name + '-' + snippet.cls + ' jSnippets'
    link(rel= 'stylesheet', href= '/css/styletry.css')
    style
      snippet.css
  body#try
    header#tryHead
      h1= snippet.tag+'.'+snippet.author.name + '-' + snippet.cls
      span.author= ' by '+snippet.author.name
      a#isWork= 'is Work?'
    div#tryBody!= html
    - if(snippet.deps)
      - snippet.deps.forEach(function(dep){
        script(type= 'text/javascript', charset= 'utf8', src= '/js/deps/'+dep)
      - })
    script(type= 'text/javascript', charset= 'utf8', src= '/lib/jquery-1.6.2.min.js')
    - spec = (snippet.tag ? snippet.tag : '') + (snippet.author && snippet.author.name && snippet.cls ? '.' + snippet.author.name + '-' + snippet.cls : '')
    script(type= 'text/javascript', charset= 'utf8')
      $('a#isWork').click(function(){
        $.post('/support/!{snippet._id}', function(data){
          $('a#isWork').text('WORK').addClass('work').unbind('click');
          var supports = $('#!{snippet._id} div.supports ul', window.parent.document.body)
          var target = supports.find('li.'+data.browser);
          if(target.length > 0){
            target.find('span').text(Number(target.find('span'))++);
          }else{
            ul.append(target.append('<img src="/images/browsers/'+data.browser+'.ico">', '<span>1</span>'));
          }
        });
        return false;
      });
      $(function(){
        $('div#tryBody !{spec}').each(function(){
          !{js}
        });
      })
