html
  head
    meta(charset= 'utf-8')
    title= title
    link(rel= 'stylesheet', href= '/css/styletry.css')
    style
      snippet.css
  body#try
    header#tryHead
      h1= title
    div#tryBody!= snippet.html
