html
  head
    meta(charset= 'utf-8')
    title= 'jSnippets file test'
    link(rel= 'stylesheet', href= '/css/styletry.css')
    style
  body#try
    header#tryHead
      h1= 'try file'
      a#isWork= 'is Work?'
    div#tryBody
    footer
