html
  head
    meta(charset= 'utf-8')
    title= 'jSnippets file test'
    link(rel= 'stylesheet', href= '/css/styletry.css')
    style!= csss
  body#try
    header#tryHead
      h1= 'try file'
      a#isWork= 'is Work?'
    div#tryBody
      div!= htmls
    footer
      div.includes
        h2= 'this file includes'
        ul.includesSnippets
        - snippets.forEach(function(snippet){
          li
            a.snippet(href= '/snippet/'+snippet._id)= snippet.tag+'.'+snippet.author.name + '-' + snippet.cls
        - })
        
    script(type= 'text/javascript', charset= 'utf8', src= '/lib/jquery-1.6.2.min.js')
    script(type= 'text/javascript', charset= 'utf8')
      $(function(){
        !{jss}
      })
