h1
  span.user= name
  span= '\' s Activity'
div#wrapper
  div#content
    div#snippetlist
      - snippets.forEach(function(snippet){
        div.snippet(id= snippet._id)
          h2.spec
            //a(href= '/tag/'+snippet.tag)= snippet.tag
            span= snippet.tag
            span= '.'
            span= name+'-'+snippet.cls
          a.try(href= '/try/'+snippet._id)= 'try code'
          footer
            div.like
              a(href= '/like')= 'Like'
              span= snippet.like
            span= 'created at '
              - dt = new Date(snippet.updated || snippet.created);
                time.created(datetime= dt.getTime())= [dt.getFullYear(), dt.getMonth() + 1, dt.getDate()].join('/') + ' ' + [dt.getHours(), dt.getMinutes(), dt.getSeconds()].join(':')
            div.supports
              ul
            - if(snippet.desc)
              div.desc
                h3= 'description'
                p= snippet.desc
          nav
            a.toggle= 'Open'
            - if(session)
              a.fork(href= '/snippet/fork/'+snippet._id)= 'Fork'
            - if(session && snippet.author.id === session.id)
              a.edit(href= '/snippet/edit/'+snippet._id)= 'Edit'
              a.delete(href= '/snippet/delete/'+snippet._id)= 'Delete'
          div.detail
          script(type= 'text/javascript', charset= 'utf8')
            (function(){
              var init = function(){
              $('#!{snippet._id} a.try').fancybox({width: '75%', height: '75%', autoScale: false, type: 'iframe', transitionIn: 'none', transitionOut: 'none'});
              $('#!{snippet._id} div.like a').click($.like);
              $('#!{snippet._id} a.toggle').click(function(){
                var self = this;
                if($('#!{snippet._id} div.detail').html() !== ''){
                  if($(self).text() === 'Open'){
                    $(self).text('Close');
                  }else{
                    $(self).text('Open');
                  }
                  $('#!{snippet._id} div.detail').toggle();
                  return false;
                }
                $.get('/snippet/detail/!{snippet._id}?json=1', function(res){
                  $('#!{snippet._id} div.detail').html(res);
                  $(self).text('Close');
                })
              });
              $.getSupportInfo('!{snippet._id}');
              $.getLike('!{snippet._id}');
              $('#!{snippet._id} input.useSnippet').change(function(){
                if($(this).attr('checked') === 'checked'){
                  $.addSnippetToFiles( '!{snippet._id}' );
                }else{
                  $.removeSnippetToFiles( '!{snippet._id}' );
                }
              });
            };
            if(typeof $ === 'function'){
              init();
            }else{
              var timer = setInterval(function(){
                if(typeof $ === 'function'){
                  clearInterval(timer);
                  init();
                }
              }, 100);
            } }())
      - })
