* {
		padding: 0px;
		margin: 0px;
}
/******************************
 * BEGIN try
 */
body {
		margin: 10px;
		background: #F0F0F0;
}
header#tryHead {
		padding-bottom: 10px;
		border-bottom: 2px solid #0087CC;
}
header#tryHead h1 {
		font-size: 2em;
		color: #0087CC;
		display: inline-block;
}
header#tryHead ul {
		list-style: none;
}
header#tryHead ul li {
		margin: 5px;
		display: inline;
}

a#isWork {
		cursor: pointer;
		margin: 0 3px;
		padding: 3px 5px;
		font-weight: bold;
		color: white;
		background-color: #DCAA35;
		border-radius: 3px;
}
a#isWork.work {
		background-color: #7CCA35;
}

div#tryBody {
		padding: 0;
		margin: 10px 0;
		background: #FFF;
		border: 1px solid #FFF;
		border-radius: 5px;
}

footer div.includes {
		border-top: 2px solid #0087CC;
}
footer div.includes h2 {
		color: #0087CC;
		font-size: 1em;
}
footer div.includes ul.includesSnippets li a {
		color: #0087CC;
		font-size: 0.4em;
}
/*
 * END try
 ******************************/

