* {
		padding: 0;
		margin: 0;
		font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body {
  padding: 50px;
}
h1 a {
		font-size: 3em;
		color: #00B7FF;
		font-weight: bold;
		text-decoration: none;
}

a {
		color: #00B7FF;
		cursor: pointer;
}
a:hover {
		text-decoration: underline;
}

div#content {
		width: 60%;
}
a.try {
		float: right;
		margin: 5px;
		padding: 3px 5px;
		text-decoration: none;
		background-color: #00B7FF;
		color: #FFF;
		border-radius: 5px;
}
a.try:hover{
		background-color: #0087CC;
}
a.try:active{
		background-color: #00DCFF;
}
footer {
		margin: 10px;
		
}
footer ul.tags {
		list-style: none;
}
footer ul.tags li {
		padding: 1px 3px;
		margin: 0 1px;
		display: inline-block;
		background-color: #5FA;
		border-radius: 5px;
}
footer ul.tags li a {
		text-decoration: none;
		color: #FFF;
}
footer div.author {
		display: inline;
		margin: 0 10px 0 0;
}
footer div.like {
		display: inline;
		margin: 0 10px 0 0;
}
footer div.like a {
		display: inline-block;
		border: 1px solid #CCC;
		border-radius: 3px;
		padding: 0 3px;
		background-color: #DDD;
}
footer div.like span {
		display: inline-block;
		border: 1px solid #CCC;
		border-radius: 3px;
		width: 40px;
		text-align: right;
		margin: 0 5px;
		color: #888;
}
footer div a {
		
}
footer time.created {
		font-size: 0.8em;
}
/******************************
 * BEGIN createSnippet
 */
a.button {
		width: 160px;
		display: inline-block;
		margin: 10px 20px 10px 0 ;
		color: white;
		font-weight: bold;
		padding: 5px 10px;
		background-color: #00B7FF;
		border-radius: 5px;
		text-decoration: none;
		text-shadow: 0 0 1px #0087CC;
}
a.button:hover{
		background-color: #0087CC;
}
a.button:active{
		background-color: #00DCFF;
}
/*
 * END createSnippet
 ******************************/

/******************************
 * BEGIN .snippet
 */
div.snippet {
		width: 700px;
		border-left: 3px solid #00B7FF;
		border-radius: 5px;
		margin: 10px 0;
		padding: 0 0 5px 5px;
		box-shadow: 2px 2px 2px #CCC;
}
div.snippet input.useSnippet {
		display: inline;
		width: 24px;
		height: 24px;
}
div.snippet h2.spec {
		display: inline;
}
div.snippet h2.spec * {
		color: #00B7FF;
		font-size: 2em;
		text-decoration: none;
}
div.snippet h2.spec a {
		border-bottom: 1px dashed #00B7FF;
}
div.snippet h3.parent {
		padding: 0 0 0 30px;
}
div.snippet h3.parent a, div.snippet h3.parent span {
		font-size: 0.6em;
}
div.snippet div h3 {
		font-size: 1em;
		text-decoration: underline;
		color: #666;
}
div.snippet div.desc p {
		width: 500px;
		padding: 5px;
		margin: 5px 0;
		border: 1px solid #CCC;
		border-radius: 5px;
}
div.snippet div div {
		
}
div.supports ul {
		list-style: none;
		margin: 5px 0;
}
div.supports ul li {
		display: inline-block;
}
div.supports ul li span {
		padding: 0 5px;
}

div.snippet nav a {
		padding: 0 3px;
}

/*
 * END .snippet
 ******************************/

/******************************
 * BEGIN #cabinet
 */
div#cabinet {
		position: fixed;
		right: 50px;
		top: 50px;
		width: 400px;
}
div#cabinet h2 {
		color: #00B7FF;
		font-size: 2em;
		padding: 10px;
}
div#cabinet h3 {
		color: #00B7FF;
		font-size: 1.6em;
		padding: 10px;
}
div#cabinet div#tray {
		border: 1px solid #CCC;
		border-radius: 5px 5px 5px 5px;
		padding: 10px;
}
div#cabinet div#myfiles ul {
		border: 1px solid #CCC;
		border-radius: 5px 5px 5px 5px;
		padding: 10px;
}
div#cabinet div#tray form nav * {
		padding: 0 3px;
}
div#cabinet div#tray form nav input.saveFile {
		border: none;
		background: #FFF;
		color: #00B7FF;
		cursor: pointer;
}
/*
 * END #cabinet
 ******************************/

/******************************
 * BEGIN snippet/new
 */
form#snippet table {
		border-collapse: collapse;
		margin: 10px 0;
}
form#snippet th, td {
		padding: 2px 3px;
		border-bottom: 1px solid #CCC !important;
}
form#snippet td {
		width: 400px;
}
form#snippet th {
		text-align: right;
		border-right: 1px solid #CCC !important;
}
form#snippet tr.spec input[name=tag] {
		width: 100px;
}
form#snippet tr.tags input {
		width: 100%;
}
form#snippet tr.desc textarea,
form#snippet tr.html textarea,
form#snippet tr.js textarea, 
form#snippet tr.css textarea {
		width: 100%;
		height: 80px;
}
/*
 * END snippet/new
 ******************************/



/******************************
 * BEGIN snippet
 */
/*
 * END snippet
 ******************************/

/******************************
 * BEGIN file
 */
div.file {
		width: 60%;
}
div.file h2.filename a {
		font-size: 2em;
}
div.detail {
		margin: 0 0 10px;
}
div.detail h3 {
		font-size: 1.6em;
		color: #00B7FF;
}
div.detail div.snippets {
		padding: 10px;
		margin-left: 10px;
		border: 1px solid #CCC;
		border-radius: 5px 5px 5px 5px;
}
div.file nav {
		padding: 10px;
}
/*
 * END file
 ******************************/

