- js = snippet.js ? snippet.js.replace(/CLASS/g, function(){return snippet.author.name + '-' + snippet.cls}) : undefined
- html = snippet.html ? snippet.html.replace(/CLASS/g, function(){return snippet.author.name + '-' + snippet.cls}) : undefined
- css = snippet.css ? snippet.css.replace(/CLASS/g, function(){return snippet.author.name + '-' + snippet.cls}) : undefined
- if(html)
  div.html
    h3= 'Html'
    pre.code
      code.html= html
- if(js)
  div.js
    h3= 'JavaScript'
    pre.code
      code.javascript= js
- if(css)
  div.css
    h3= 'Css'
    pre.code
      code.css= css
script(type= 'text/javascript', charset= 'utf8')
  $('#!{snippet._id} pre.code').beautifyCode('javascript');
