div#wrapper
  div#content
    form#snippet(action= snippet ? '/snippet/'+(fork ? 'fork/' : '')+ snippet._id : '/snippet/new', method= 'POST')
      table
        tbody
          tr.spec
            th
              span= 'Spec (tagName.'+session.name+'-className)'
            td
              input(type= 'text', name= 'tag', value= (snippet && snippet.tag ? snippet.tag : ''))
              span= '.'+(snippet && snippet.author && snippet.author.name ? snippet.author.name : session.name)+'-'
              input(type= 'text', name= 'cls', value= (snippet && snippet.cls ? snippet.cls : ''))
          tr.tags
            th
              span= 'Tag (comma spareted)'
            td
              input(type= 'text', name= 'tags', value= (snippet && snippet.tags ? snippet.tags.join(', ') : ''))
          tr.desc
            th
              span= 'Description(data-* etc.)'
            td
              textarea(name= 'description')= (snippet && snippet.desc ? snippet.desc : '')
          tr.libs
            th
              span= 'library'
            td
              ul#uselib
              a.addLib(href= '/jSnippet/snippet/addlib')= 'add lib'
          tr.html
            th
              span= 'Html'
            td
              textarea(name= 'html')= (snippet && snippet.html ? snippet.html : '')
          tr.js
            th
              span= 'JavaScript'
            td
              textarea(name= 'js')= (snippet && snippet.js ? snippet.js : '')
          tr.css
            th
              span= 'Css'
            td
              textarea(name= 'css')= (snippet && snippet.css ? snippet.css : '')
          tr
            td(colspan= 2)
              input(type= 'submit', value= 'Save')
      